.actions:empty{
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}

.ui.dimmer.visible.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
