<h3> Sign In </h3>

<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
  inputType="text"
  label="Username"
  [control]="usernameControl"
  ></app-input>

  <app-input
  inputType="password"
  label="Password"
  [control]="passwordControl"
  ></app-input>

  <div *ngIf="authForm.hasError('credentials')" class="ui red basic label">
    <p>
      Invalid username or password
    </p>
  </div>

<div>
  <button class="ui submit button primary">
    Submit
  </button>
</div>
  

</form>